@use 'lib';
@use 'components/container';
@use 'components/flow';
@use 'utilities';

.container {
    --container-width: 70ch;
}

.underscore:after {
    background-color: var(--color-blue-500);
    display: block;
    content: '';
    margin-top: calc(var(--space-2) * -1);
    margin-left: calc(var(--space-2) * -1);
    width: var(--space-20);
    height: var(--space-3);
}
